* {
    margin:0; 
    padding: 0;
}
html, body {
    height:100%;
}
/** formata elementos que tem backgrounds parallax **/
.bgParallax {
    font-family: 'Elsie', cursive;
    color:#fff;
    margin: 0 auto;
    width: 100%;
    position: relative;
    min-height: 100%;
    background-attachment: fixed;
}

/* Define backgrounds dos divs */
#primeiradiv {
    background-image: url(img/img4.jpg);
}
#segundadiv {
    background-image: url(img/img2.jpg);
}
#terceiradiv {
    background-image: url(img/img8.jpg);
}

/** Formata o article que vai o texto **/
.bgParallax section {
  width: 70%;
  text-align: center;
  margin:0 auto;
  padding:20% 0 0;
}

/** formata texto **/
section h1 {
    font-size:40px;
}
section p {
    line-height: 30px;
    font-size:20px;
    margin-top:15px;
}
section p a {
    color:#FFF;
    text-decoration:none;
    font-size:30px;
}